<style>
    .content-section {
        background-color: #fff;
        border-radius: 22px;
        height: auto;
        /*border:2px solid #919ba9;*/
        box-shadow: rgb(0 0 0 / 20%) 4px 2px 24px 4px;
        padding: 20px;
    }

    .content-bottom {
        justify-content: left !important;
        margin: 10px 0;
    }

    
    /*here
  endssssssssssssssssssssssssssssssssssssssssssssss*/
    @media only screen and (max-width: 767px) {
        .content-section {
            border-radius: 8px;
            /*border:2px solid
  #919ba9;*/
            box-shadow: rgb(0 0 0 / 20%) 4px 2px 24px 4px;
            padding: 8px;
            margin: 8px;
        }

        .item-title {
            font-size: 14px;
            font-weight: 400;
        }

        .label-title {
            font-size: 14px;
            font-weight: 600;
        }

        .item-info {
            width: 80%;
        }
    }
    .description{
      font-size: 17px;
    }

    .yes-btn{
        color:#42b983;
        border:1px #42b983 solid;
    }
    .yes-btn:hover{
       color:#42b983; 
    }

    .yesed-btn{
        color:#fff;
        background-color:#42b983;
    }
    .yesed-btn:hover{
       color:#fff; 
    }

    .views-label{
        color:#42b983;
    }
</style>
<div class="container main-body">
    <div class="row">

        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="content-section content-bottom">
                <div class="d-flex justify-content-between">
                    <small><img src="/images/{{ qna.avator }}" alt="" class="user__img"/> {{ qna.username }}</small>
                    <small>12-05-2022</small>
                </div>
                <div class="mt-2">
                    <p class="qa-label">Question:</p>
                    <p class="qa-title">{{ qna.question }}</p>
                    <hr class="divider"/>
                    <p class="qa-label">Answer from Expert's:</p>
                    <p class="qa-body">{{ qna.answer }} this is how questions and answer will look like in this app it seems to be 
                        premitive and awesome ...
                    </p>
                    
                    <div class="mt-5 d-flex justify-content-between">
                       <p class="views-label"><i class="fa fa-eye"> </i> {{ qna.views }} Views </p>
                       <button class="btn yes-btn">Yes <i class="fa fa-thumbs-o-up"></i> 57</button> 
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <h4 class="text-center mt-5 mb-2">Popular Questions</h4>
                {{#each qnas}}
                <div class="col-12">
                    {{>qna }}
                </div>
                {{/each }}
            </div>
        </div>
        <div class="col-sm-8 col-md-4 col-lg-4">
            
        </div>
    </div>
    {{# if userInfo.isLoged  }}
    <button data-toggle="modal" id="ask-by" user-id="{{userInfo.user.id}}" data-target="#qnaModal" class="ask-btn">
        <span class="fa fa-pencil"></span>
        <small>uliza</small>
    </button>
    {{ else }}
    <button data-toggle="modal" id="ask-by" user-id="0" data-target="#registerModal" class="ask-btn">
        <span class="fa fa-pencil"></span>
        <small>uliza</small>
    </button>
    {{/ if  }}
</div>

<script>

/*ajax for comments*/

////get edit post
    $(document).on('click', '.like-btn', function() {

        const comment_id = $(this).attr('comment-id');
        const user_id = $('#comment-btn').attr('user-id');
        var likes = $(this).attr('likes');
        const comment_by = $(this).attr('comment-by');

        if(user_id != 0){

          $.ajax({
              url: '/like-comment',
              method: 'POST',
              data: {
                  comment_id,comment_by
              }
          })
          .then((response) =>{
              if(response == 'like'){

                likes = parseInt(likes) + 1
                $(this).attr('likes',likes)
                var innerBtn = "<small>Like <i class='fa fa-thumbs-o-up'> </i> "+  likes +"</small>"
                $(this).html(innerBtn)
              }else if(response == 'exist'){

                likes = parseInt(likes) - 1
                $(this).attr('likes',likes)
                var innerBtn = "<small>Like <i class='fa fa-thumbs-o-up'> </i> "+  likes +"</small>"
                $(this).html(innerBtn)
              }else{
                alert('server error')
              }
          })
          .catch((error) =>{
              console.log(error)
          });

          const myclass = $(this).attr('class');
          if(myclass == 'btn btn-liked like-btn'){
            $(this).removeClass('btn btn-liked like-btn').addClass('btn btn-like like-btn');
          }else{
            $(this).removeClass('btn btn-like like-btn').addClass('btn btn-liked like-btn');
          }
          
        }else{
            alert('please log in to like')
        }

        

    });

</script>


    