<div class="card1  mt-3 p-3">
    <div class="d-flex justify-content-between">
        <div class="book-img-side">
            <a href="/book/{{ this.slug }}">
                <img src="/images/{{ this.thumbnail }}" alt="" class="feed-thumb"/>
            </a>
        </div>
        <div class="book-info-side">
           <p>By : {{ this.author }}</p>
           <p>Pages : {{ this.pages }}</p>
           <p>Pro Year: {{ this.year }}</p>
           <p class="book-price">Tsh {{ this.price }}</p> 
        </div>
    </div>
    <div class="mt-1">
        <a href="/book/{{ this.slug }}">
            <p class="book-title">{{ this.title }}</p>
        </a>
    </div>
    <button class="btn book-heart">
        <span class="fa fa-heart"></span>
    </button>
</div>

