<div class="card1  mt-3 p-3">
    <div class="mt-2">
        
            <p class="qa-title"><a href="/discussion/{{slug}}">{{ this.title }}</a></p>
        </a>
        <div class="mt-2 d-flex justify-content-between">
            <small>{{ this.replies }} Replies</small>
            <small>12-05-2022</small>
        </div>
        <a href="/discussion/{{slug}}">
            <p class="mt-2 qa-body">{{ substr "200" this.description }}</p>
        </a>
        <div class="mt-2 d-flex bottom-icons">
           <span class="fa fa-thumbs-up"> {{ this.likes }}<small> likes</small></span>
           <span class="ml-3 fa fa-eye"> {{ this.views }}<small> Views</small></span>
           <!--span class="ml-3 fa fa-share-alt"> {{ this.shared }}<small> Shared</small></span-->
        </div>
    </div>
</div>