
<div class="card1  mt-3 p-3 d-flex justify-content-between">
    <div class="img-side">
        <a href="/feed/{{this.slug}}"><img src="/images/{{this.thumbnail}}" alt="" height="100%" class="feed-thumb"/></a>
    </div>
    <div class="content-side">
        <div class="d-flex justify-content-between">
            <small>{{ this.username }}</small>
            <small>12/ 07/ 2012</small>
        </div>
        <div class="">
            <a href="/feed/{{this.slug}}"><p class="feed-title">{{ this.title }}</p></a>
        </div>
    </div>
</div>
