<div class="meeting-item">
    <div class="thumb">
        <div class="price">
        <span>Tsh {{ this.price }}</span>
        </div>
        <a href="/video/{{this.slug}}"><img src="/images/{{this.thumbnail}}" alt="{{this.name}}"></a>
    </div>
    <div class="down-content">
        <a href="/video/{{this.slug}}"><h4 class="text-center">{{ this.title }}</h4></a>

        <div class="d-flex justify-content-between pb-0">
            <small><img src="/images/{{this.avator}}" alt="" class="user__img"/> {{this.username}}</small>
            <button post-id="{{this.id}}" class="btn video-heart">
                <span class="fa fa-heart"></span>
            </button>
        </div>
    </div>
    
</div>